body {
    background-color: brown;
}

.home_title {
    text-align: center;
    color: rgb(143, 143, 185);
}

#welcome_text {
    text-align: center;
    font-size: 50px;
}

.nav {
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
}

.nav-buttons {
    color: black;
    height: 30px;
    padding: 5px;
}

#home-button {
    border-radius: 4px;
    font: 100;
}